body, html {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #A9B1B3;
    font-size: 14px;
    background-color: #F7F7F7;
    -webkit-font-smoothing: antialiased
}

.pattern {
    -webkit-transition: all .5s
}

.pattern {
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 312px;
    width: 21.66%;
    transition: all .5s
}

.pattern.left {
    left: 0
}

.pattern.right {
    right: 0
}

.pattern img {
    width: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
    pointer-events: none
}

@media (max-width: 1280px) {
    .pattern {
        width: 18%
    }
}

.combo .pattern {
    max-width: 220px
}

body, html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.form-upload {
    margin-top:10%;
	margin-left: auto;
    margin-right: auto;
    max-width: 500px;
	background: #F7F7F7;
	padding: 25px 15px 25px 10px;
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #E4E4E4;
}

.form-upload h1 {
	font-size: 25px;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin: -10px -15px 30px -10px;
	;
	color: #888;
}

.form-upload h1>span {
	display: block;
	font-size: 11px;
}

.form-upload label {
	display: block;
	margin: 0px;
}

.form-upload label>span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: #888;
}

.form-upload input[type="text"],
.form-upload input[type="file"],
.form-upload textarea,
.form-upload div,
.form-upload select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.form-upload textarea {
	padding: 5px 3px 3px 5px;
}

.form-upload textarea {
	height: 100px;
}

.form-upload .button {
	background: #E27575;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
}

.form-upload .button:hover {
	background: #CF7A7A
}

#preview_img{
	width: 50px;
	height: 50px;
	background-position: center center;
	background-size: cover;
	border: 4px solid #DADADA;
	display: inline-block;
   	vertical-align: middle;  
	text-align: center; 
}


